In [1]:
# Perform the following operations on any open source dataset (e.g.,data.csv)
# 1. Provide summary statistics (mean, median, minimum, maximum, standard
# deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the
# qualitative (categorical) variable. For example, if your categorical variable is age groups
# and quantitative variable is income, then provide summary statistics of income grouped by
# the age groups. Create a list that contains a numeric value for each response to the
# categorical variable.
# 2. Write a Python program to display some basic statistical details like percentile,
# mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-
# versicolor’ of iris.csv dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"Dataset\IRIS.csv")
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [4]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data.mean()

C:\Users\dell\AppData\Local\Temp\ipykernel_1582204\531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [7]:
data.mode()

   sepal_length  sepal_width  petal_length  petal_width          species
0           5.0          3.0           1.5          0.2      Iris-setosa
1           NaN          NaN           NaN          NaN  Iris-versicolor
2           NaN          NaN           NaN          NaN   Iris-virginica

In [8]:
data.median()

C:\Users\dell\AppData\Local\Temp\ipykernel_1582204\4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [9]:
data.std()

C:\Users\dell\AppData\Local\Temp\ipykernel_1582204\2723740006.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [10]:
def Operation(x, y):
    if(x == 1):
        if(y == 1):
            print(data["sepal_length"].mean())
        if(y == 2):
            print(data["sepal_width"].mean())
        if(y == 3):
            print(data["petal_lenght"].mean())
        if(y == 4):
            print(data["petal_width"].mean())
    if(x == 2):
        if(y == 1):
            print(data["sepal_length"].median())
        if(y == 2):
            print(data["sepal_width"].median())
        if(y == 3):
            print(data["petal_lenght"].median())
        if(y == 4):
            print(data["petal_width"].median())
    if(x == 3):
        if(y == 1):
            print(data["sepal_length"].mode())
        if(y == 2):
            print(data["sepal_width"].mode())
        if(y == 3):
            print(data["petal_lenght"].mode())
        if(y == 4):
            print(data["petal_width"].mode())
    if(x == 4):
        if(y == 1):
            print(data["sepal_length"].std())
        if(y == 2):
            print(data["sepal_width"].std())
        if(y == 3):
            print(data["petal_lenght"].std())
        if(y == 4):
            print(data["petal_width"].std())

In [11]:
while True:
    print("Enter 1 for Mean Operation")
    print("Enter 2 for Median Operation")
    print("Enter 3 for Mode Operation")
    print("Enter 4 for standard Deviation Operation")
    print("Enter 5 for Break")
    x = int(input("Enter your Choice: "))
    print("Enter 1 for Sepal_Length")
    print("Enter 2 for Sepal_Width")
    print("Enter 3 for Petal_Length")
    print("Enter 4 for Petal_Width")
    y = int(input("Enter your Choice: "))
    if(x != 5):
        Operation(x, y)
    else:
        break

Enter 1 for Mean Operation
Enter 2 for Median Operation
Enter 3 for Mode Operation
Enter 4 for standard Deviation Operation
Enter 5 for Break

Enter your Choice:  1

Enter 1 for Sepal_Length
Enter 2 for Sepal_Width
Enter 3 for Petal_Length
Enter 4 for Petal_Width

Enter your Choice:  2

3.0540000000000003
Enter 1 for Mean Operation
Enter 2 for Median Operation
Enter 3 for Mode Operation
Enter 4 for standard Deviation Operation
Enter 5 for Break

Enter your Choice:  5

Enter 1 for Sepal_Length
Enter 2 for Sepal_Width
Enter 3 for Petal_Length
Enter 4 for Petal_Width

Enter your Choice:  6